{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on earth !' %}

{% block body %}
{#  lenght est un filtre qui compte le nombre d 'element de notre tableau #}
{#  pluralize fonction twig  que l on creer qui recoit le singulier et le pluriel(si il est pas renseigner la fonction le transfomera) qui elle choira en fonction du nombre d element #}
<h1>{{ pluralize(pins|length,'Pin')}} </h1> 

{# {{dump(pins)}} #}

{% for pin in pins %}
<article> 
    <h2> <a href="{{ path('app_pins_show',{id: pin.id}) }}">{{pin.title}}</a></h2> 
    <p>{{pin.description|u.truncate(15,'...',false )}}</p>{# filtre u pour tronquer le texte à 15 caractères et des point de suspension en deuxième argument et false pour ne pas qu il tronque les mots#}
    <p>Submited {{pin.createdAt|ago}}</p>{# filtre ago permet de calculer la difference entre le jour et la creation #}
</article>    
{% endfor %}


{% endblock %}
